.grid-container {
  background-color: rgb(230, 108, 108);
  padding: 1rem;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 200px);
  gap: 2rem;
}

.first{
  background-color: aqua;
}

.second {
  background-color: blueviolet;
  /* Way 1 */
  /* grid-column-start: 2;
  grid-column-end: 4; */
  /* Way 2 */
  /* grid-column: 2 / 4; */
  /* Way 3 */
  grid-column: span 2;
}

.third {
  background-color: gray;
  grid-column: span 2;
}

.forth {
  background-color: green;
  /* grid-row-start: 2;
  grid-row-end: 4; */
  /* grid-row: 2 / 4; */
  grid-row: span 2;
  grid-column: 3 / 4;
}